<div class="menu">
  <ul>
    <li> <%= link_to "Inicio", root_path %>  </li>
    <li> <%= link_to "Diccionario", root_path %>  </li>
    <li> <%= link_to "Escritura", root_path %>  </li>
    <li> <%= link_to "Nosotros", root_path %>  </li>
  </ul>
</div>