<div class="navbar navbar-default">
  <div class="navbar-header" >
    <%= link_to 'Bilingua', root_path, :class => 'navbar-brand'%>
  </div>
    <div class="container-fluid">
      <ul class="navbar-form navbar-left">
        <li ><a>as</a></li>
      </ul>
    </div>
</div>